---
---

<section data-testid="education" id="education"
  class="mb-10 grid grid-cols-1 items-center justify-center text-center md:mb-0 md:h-680 mx-auto max-w-screen-xl px-5">
  <div class="pb-6 grid grid-cols-1  items-center justify-center">
    <h2 class="font-monospace text-2xl text-green lg:text-4xl">Education</h2>
    <span class="mb-10 h-1 w-10 bg-green mx-auto"></span>

    <article class="grid sm:grid-cols-2 md:grid-cols-2 mt-16 gap-16 text-black">
      <div class="gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0 md:col-1">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path fill="white" d="M12 3L1 9l11 6l9-4.91V17h2V9M5 13.18v4L12 21l7-3.82v-4L12 17l-7-3.82Z" /></svg>
        </div>
        <div class="pr-0 xl:pr-5xl">
          <h3 class="font-semibold text-lg">Cenfotec University</h3>
          <p class="text-slate-500 mt-2 leading-relaxed text-sm lg:text-md">Superior technician in Web Design and
            Development (knowledge acquired in the use of Bootstrap, Angular Material, HTML5, CSS, Angular.js (basic)).
          </p>
        </div>
      </div>

      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path fill="white"
              d="M21 3h-7a2.98 2.98 0 0 0-2 .78A2.98 2.98 0 0 0 10 3H3a1 1 0 0 0-1 1v15a1 1 0 0 0 1 1h5.758c.526 0 1.042.214 1.414.586l1.121 1.121c.009.009.021.012.03.021c.086.079.182.149.294.196h.002a.996.996 0 0 0 .762 0h.002c.112-.047.208-.117.294-.196c.009-.009.021-.012.03-.021l1.121-1.121A2.015 2.015 0 0 1 15.242 20H21a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1zM8.758 18H4V5h6c.552 0 1 .449 1 1v12.689A4.032 4.032 0 0 0 8.758 18zM20 18h-4.758c-.799 0-1.584.246-2.242.689V6c0-.551.448-1 1-1h6v13z" />
            </svg>
        </div>
        <div class="pr-0 xl:pr-5xl">
          <h3 class="font-semibold text-lg">INA (National Institute of Learning)</h3>
          <ul class="text-sm lg:text-md">
            <li class="text-slate-500 mt-1 leading-relaxed">Web Page Programmer – Mid Technician.</li>
            <li class="text-slate-500 mt-1 leading-relaxed">Basic English – Beginner Diploma.</li>
            <li class="text-slate-500 mt-1 leading-relaxed">Information Technology and Communications User Assistance
              Specialist (TIC’S) – Mid Technician.</li>
          </ul>
        </div>
      </div>

      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path fill="white"
              d="M21 3h-7a2.98 2.98 0 0 0-2 .78A2.98 2.98 0 0 0 10 3H3a1 1 0 0 0-1 1v15a1 1 0 0 0 1 1h5.758c.526 0 1.042.214 1.414.586l1.121 1.121c.009.009.021.012.03.021c.086.079.182.149.294.196h.002a.996.996 0 0 0 .762 0h.002c.112-.047.208-.117.294-.196c.009-.009.021-.012.03-.021l1.121-1.121A2.015 2.015 0 0 1 15.242 20H21a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1zM8.758 18H4V5h6c.552 0 1 .449 1 1v12.689A4.032 4.032 0 0 0 8.758 18zM20 18h-4.758c-.799 0-1.584.246-2.242.689V6c0-.551.448-1 1-1h6v13z" />
            </svg>
        </div>
        <div class="pr-0 xl:pr-5xl">
          <h3 class="font-semibold text-lg">CECA (Adult Community Education Center)</h3>
          <ul class="text-sm lg:text-md">
            <li class="text-slate-500 mt-1 leading-relaxed">Adobe Photoshop – Diploma.</li>
            <li class="text-slate-500 mt-1 leading-relaxed">Adobe Ilustrador – Diploma.</li>
          </ul>
        </div>
      </div>

      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path fill="white" d="M12 3L1 9l11 6l9-4.91V17h2V9M5 13.18v4L12 21l7-3.82v-4L12 17l-7-3.82Z" /></svg>
        </div>
        <div class="pr-0 xl:pr-5xl">
          <h3 class="font-semibold text-lg">Edgar Cervantes Villalta High School.</h3>
          <ul class="text-sm lg:text-md">
            <li class="text-slate-500 mt-1 leading-relaxed">High school diploma - Bachelor in middle education.</li>
            <li class="text-slate-500 mt-1 leading-relaxed">Technician - Accounting assistant.</li>
            <li class="text-slate-500 mt-1 leading-relaxed">Technician - Office Techniques.</li>
          </ul>
        </div>
      </div>
    </article>
</section>