---
import heroImage from '@assets/images/hero-Recovered.png';
import { Image } from '@astrojs/image/components';
---

<section
	data-testid="hero"
	class="bg-mistyrose"
>	<div class="mx-auto max-w-screen-xl px-5 flex flex-col-reverse items-center justify-center lg:flex-row h-screen md:h-screen md:grid md:grid-cols-2">
	<div class="mb-10 grid grid-cols-1 items-center lg:mb-0">
		<div>
			<h1 class="mb-10 font-monospace text-3xl text-black lg:text-5xl
			text-center md:text-left">
				Hi! My name is <br><span class="text-green">Paula Rodriguez</span> and <br class="md:hidden">I am a web developer 
			</h1>
		</div>

	</div>
	<div data-testid="hero-img" class="mb-10 grid grid-cols-1 items-center justify-center">
		<Image
			src={heroImage}
			alt="Coding girl"
			aspectRatio="4:4"
			format="png"
			width={600}
			height={600}
			loading="eager"
		/>
	</div>
</div>
	
</section>
